<footer class="container-fluid py-3 border-top d-none d-md-block d-lg-block d-xl-block">
  <div class="row">
    <!-- Logo (Primera columna) -->
    <div class="col-md-4 d-flex justify-content-start align-items-center">
      <img class="img-fluid" src="https://www.itse.ac.pa/themes/default/assets/img/logo_itse_footer.svg" alt="Logo ITSE">
    </div>

    <!-- Derechos reservados (Segunda columna) -->
    <div class="col-md-4 d-flex justify-content-center align-items-center">
      <small>© 2025 <b>ITSE</b>. Todos los derechos reservados</small>
    </div>

    <!-- Redes sociales (Tercera columna) -->
    <div class="col-md-4 d-flex justify-content-end align-items-center">
      <ul class="list-inline mb-0">
        <li class="list-inline-item">
          <a href="https://www.facebook.com/itsepanama/" data-toggle="tooltip" data-placement="bottom" title="Ir a Facebook" target="_blank" class="social-link">
            <img src="https://www.itse.ac.pa/themes/default/assets/img/socialmedia/facebook.svg" alt="Facebook">
            <span class="sr-only">Ir a la página de Facebook</span>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://twitter.com/itsepma" data-toggle="tooltip" data-placement="bottom" title="Ir a Twitter" target="_blank" class="social-link">
            <img src="https://www.itse.ac.pa/themes/default/assets/img/socialmedia/twitter.svg" alt="Twitter">
            <span class="sr-only">Ir a la página de Twitter</span>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://www.instagram.com/itsepma/" data-toggle="tooltip" data-placement="bottom" title="Ir a Instagram" target="_blank" class="social-link">
            <img src="https://www.itse.ac.pa/themes/default/assets/img/socialmedia/instagram.svg" alt="Instagram">
            <span class="sr-only">Ir a la página de Instagram</span>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://www.youtube.com/channel/UCL2YWBxXCD_qYMBNnyeJhCQ/featured?view_as=subscriber" data-toggle="tooltip" data-placement="bottom" title="Ir a YouTube" target="_blank" class="social-link">
            <img src="https://www.itse.ac.pa/themes/default/assets/img/socialmedia/youtube.svg" alt="YouTube">
            <span class="sr-only">Ir a la página de YouTube</span>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://www.linkedin.com/school/itse-panam%C3%A1/" data-toggle="tooltip" data-placement="bottom" title="Ir a LinkedIn" target="_blank" class="social-link">
            <img src="https://www.itse.ac.pa/themes/default/assets/img/socialmedia/linkedin.svg" alt="LinkedIn">
            <span class="sr-only">Ir a la página de LinkedIn</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
