<!-- Sección Noticia 1 -->
<section class="nueva-seccion" style="background: #18446C;">
  <div class="container align-content-start m-0">
    <div class="row align-content-start">
      <div class="col-md-6 d-flex justify-content-start p-0">
        <img ngSrc="assets/fotos/N1.jpg" class="img-fluid" style="max-width: 80%" alt="Imagen de la sección"
             height="750" width="998">
      </div>
      <div class="col-md-6">
        <h2 style="display: inline-block; background-color: #E1BA17; color: #18446C; font-weight: bold; padding: 5px; text-align: center; margin-top: 40px;">
          Noticia
        </h2>
        <h2 style="display: inline-block; background-color: #E1BA17; color: #18446C; font-weight: bold; padding: 5px; text-align: center; margin-top: 40px;">
          <a href="https://www.itse.ac.pa/El-ITSE-presenta-avances-a-la-Junta-Directiva-de-la-Camara-de-Comercio-Industrias-y-Agricultura-de-Panama" style="color: #18446C; text-decoration: none;">
            El ITSE presenta avances a la Junta Directiva de la Cámara de Comercio, Industrias y Agricultura de Panamá
          </a>
        </h2>
        <p style="color: white; text-align: justify;">
          En un encuentro marcado por el interés mutuo de continuar co-construyendo carreras entre el sector productivo y la academia, la Gerencia Educativa del ITSE presentó los avances a Junta...
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Sección Noticia 2 -->
<div class="container-fluid  align-content-start m-0 text-end p-0">
  <div class="row align-content-end">
    <div class="col-md-6 p-5">
      <h2 style="display: inline-block; background-color: #E1BA17; color: #18446C; font-weight: bold; padding: 5px; text-align: center; margin-top: 40px">Noticia</h2>
      <h2 style="display: inline-block; background-color: #E1BA17; color: #18446C; font-weight: bold; padding: 5px; text-align: center; margin-top: 40px;">
        <a href="https://www.itse.ac.pa/La-Importancia-del-dialogo-en-tiempos-de-polarizacion-un-espacio-para-Conversaciones-que-Elevan-de-CiiECYT-AIP-" style="color: #18446C; text-decoration: none;">
          La Importancia del diálogo en tiempos de polarización: un espacio para “Conversaciones que Elevan” de CiiECYT-AIP
        </a>
      </h2>
      <p style="color: #18446C; text-align: justify;">
        En un esfuerzo por fomentar el diálogo constructivo en tiempos de creciente polarización, el Centro de Investigación e Innovación Educativa, Ciencia y Tecnología (CiiECYT-AIP) y el Instituto Técnico Superior Especializado...      </p>
    </div>
    <div class="col-md-6 d-flex justify-content-end">
      <img ngSrc="assets/fotos/N2.jpg" class="img-fluid ms-auto" style="max-width: 80%; " alt="Imagen de la sección"height="750" width="998">
    </div>
  </div>
</div>

<!-- Sección Noticia 3 -->
<section class="nueva-seccion" style="background: #18446C;">
  <div class="container align-content-start m-0">
    <div class="row align-content-start">
      <div class="col-md-6 d-flex justify-content-start p-0">
        <img ngSrc="assets/fotos/N3.jpg" class="img-fluid" style="max-width: 80%" alt="Imagen de la sección"
             height="750" width="998">
      </div>
      <div class="col-md-6">
        <h2 style="display: inline-block; background-color: #E1BA17; color: #18446C; font-weight: bold; padding: 5px; text-align: center; margin-top: 40px;">
          Noticia
        </h2>
        <h2 style="display: inline-block; background-color: #E1BA17; color: #18446C; font-weight: bold; padding: 5px; text-align: center; margin-top: 40px;">
          <a href="https://www.itse.ac.pa/Panama-impulsa-la-transformacion-digital-en-la-construccion-con-programa-pionero-en-SIG-y-BIM" style="color: #18446C; text-decoration: none;">
            Panamá impulsa la transformación digital en la construcción con programa pionero en SIG y BIM          </a>
        </h2>
        <p style="color: white; text-align: justify;">
          La industria de la construcción en Panamá da un paso decisivo hacia la digitalización con el lanzamiento del programa de capacitación en Integración y...
        </p>
      </div>
    </div>
  </div>
</section>


